# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtualenvs
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
*.log

# Environment
.env
.env.local

# Tests & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Editors & OS
.idea/
.vscode/
.DS_Store

docs/